@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main {
  background-image: url("bg.jpg");
  height: 70vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  height: 100px;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(62, 60, 60);
  position: relative;
  z-index: 20;

}

.btn {
  padding: 3px 8px;
  font-weight: bold;
  background-color: white;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
}
.btn-red-sm {
  background-color: red;
  color: white;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main input {
  padding: 7px 101px 8px 14px;
  font-size: 12px;
  color: white;
  font-weight: 900;
  border-radius: 4px;
  background-color: rgba(12, 12, 12, 0.9);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  align-items: center;
}

@media screen and (max-width:1300px) {
  .first{
    flex-wrap: wrap;
  }
  
}

.secimage {
  position: relative;
}
.secimage img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.secimage video {
  position: absolute;
  top: 51px;
  margin-right: 5px;
  margin-left: 40px;
  margin-top: 60px;
  width: 500px;
  height: 250px;
}
.third video{
  position: absolute;
  top: 51px;
  width: 360px;
  margin: 10px 50px 15px 96px;
}
section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :first-child {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

.faq h2{
  text-align: center;
  font-size: 48px;
}

.faqbox :hover{
  background-color: #414141 ;
  color: white;
  }  

.faq{
  background: black;
  color: white;
  padding: 34px;
  
}

.faqbox {
  color: white;
  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(62, 60, 60);;
  padding: 24px;
  max-width: 60vw;
  margin: 34px auto;
  cursor: pointer;
}

footer{
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
 
}

.footer-item{
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.footer a{
  font-size: 14px;
text-decoration: underline;
color: white;
}

footer .questions{
  padding:34px 0 ;
}